# Adatbázis konfiguráció
DB_HOST=localhost
DB_NAME=billiard
DB_USERNAME=root
DB_PASSWORD=

# Alkalmazás konfiguráció
APP_NAME="Magyar Biliárd"
APP_URL=http://localhost
APP_DEBUG=false
ADMIN_PASSWORD=admin123

# SMTP e-mail konfiguráció
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@magyarbilliard.hu
MAIL_FROM_NAME="Magyar Biliárd"
